<mat-card  class="weather-card">
<mat-card-header>
  <mat-card-title *ngIf="!loadmode" class="card-title">{{ town.name | uppercase }}</mat-card-title>
  <mat-card-title *ngIf="loadmode" class="card-title">Loading...</mat-card-title>
</mat-card-header>
<mat-card-content *ngIf="!loadmode">
  <div class="weather-card-content">
    <div class="wi wi-forecast-io-{{ town.icon }} weather-logo"></div>
    <div class="weather-card-temp">
      {{ town.temperature }}&#8451;
    </div>
  </div>
  <div class="button_container">
    <button (click)="refreshWeather()" mat-raised-button color="primary">
    <mat-icon>refresh</mat-icon>
    </button>
  </div>
</mat-card-content>
<mat-card-content *ngIf="loadmode">
  <div class="weather-card-content">
    <mat-progress-spinner color="primary" mode="indeterminate">
    </mat-progress-spinner>
  </div>
</mat-card-content>
</mat-card>
